<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L0VP03LZVJ"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','G-L0VP03LZVJ');</script>
---
interface Props {
  title: string;
  description: string;
  ogTitle?: string;
  ogDescription?: string;
}
const { title, description, ogTitle, ogDescription } = Astro.props;
---
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{title}</title>
<meta name="description" content={description}>
<meta property="og:title" content={ogTitle || title}>
<meta property="og:description" content={ogDescription || description}>
<meta property="og:type" content="article">
